body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.heading {
  text-align: center;
  font-size: 2rem;
  color: red;
  margin-top: 20px;
}

.card-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.card-child {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.card-heading {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
  font-weight: bold;
}

.card-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-price {
  font-size: 1.2rem;
  color: #28a745;
  margin-top: 5px;
  font-weight: bold;
}
.actions {
  display: flex;
  justify-content: space-around;
}
.add-btn {
  font-size: 40px;
  font-weight: 900;
  color: green;
  cursor: pointer;
}
.remove-btn {
  font-size: 40px;
  font-weight: 900;
  color: red;
  cursor: pointer;
}
.main-select {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  flex-wrap: wrap;
}
select {
  width: 200%;
}
option {
  font-size: 25px;
}

.button-cart {
  color: rgb(0, 0, 0);
  background-color: rgb(233, 233, 233);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

