<h1 class="heading">Items</h1>
<div class="main-select">
    <div class="select">
    <select (change)="productSelect($event)">
        <option value="">Select Product</option>

        <option *ngFor="let product of productData$ | async" [value]="product.productName">{{product.productName}}</option>
    </select>
</div>
<div class="button-cart" routerLink="View-Cart">View Bill</div>
</div>



<div class="card-parent">
    @for (product of (filterProductData$ | async) ?? (productData$ | async); track product.id) {
    <div class="card-child">
       
        <div class="card-heading">
        {{product.productName}}
        </div>
        <div class="card-img">
            <img src={{product.productImg}}>
        </div>
        <div class="card-price">
          {{product.Price | currency:'INR'}}
        </div>

        <div class="actions">
            <div class="add-btn">
                <span (click)="AddProduct(product)">+</span>
            </div>
           <div class="remove-btn">
            <span (click)="removeProduct(product)">-</span>
           </div>
        </div>
    </div>

    }@empty{
<div class="heading">Loading..</div>
    }

  

</div>